{% extends 'base.html' %}

{% block title %}
   {{ article.title }}
{% endblock %}

{% block content %}

    <div class="container">
        {% for message in get_flashed_messages() %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endfor %}
    </div>

    <div class="container">
        <div class="alert alert-secondary">
            <h3 style="color:black;">{{ article.title }}</h3>
            <hr>
            <h5>{{ article.text|safe}}</h5>
            <p>Author: {{ article.poster.name }}</p>
            <p>Date: {{ article.date.date() }}</p>
        </div>
        <a href="{{ url_for('posts') }}" class="btn btn-outline-dark btn-sm">←</a>
        {% if current_user.id == article.poster_id %}
            <a href="{{ url_for('post_update', id=article.id) }}" class="btn btn-outline-secondary btn-sm">Edit post</a>
            <a href="{{ url_for('post_delete', id=article.id) }}" class="btn btn-outline-danger btn-sm">Delete post</a>
        {% endif %}
    </div>
{% endblock %}